<html>
    <title>Spam Message Detector</title>
    <body>
        <br><br><br>
        <center><h2 style = "color: darkcyan;font-size: 50px;">Spam Detector</h2></center>
        <center>
            <form action="http://localhost:5000/spamfinder" method="post">
            <p style = "font-size: 25px; font-family: 'Courier New';">Type a Message HERE</p>
            <input type="text" name="message" placeholder = 'Text Here' size ='150' style="height: 28px; font-family: Courier New;">
            <br><br>
            <input type="submit" value="SUBMIT" style="height: 40px;width:90px; 
            size: 25px; font-family: Courier New; background-color: darkcyan; color: white;" >
            
            </form>

    </center>
    </body>
</html>            	

